.MillingPriceList-container {
  text-align: center;
  padding: 120px 80px;
  max-width: 1600px;
  margin: 0 auto;
}

.MillingPriceList-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #182129;

  margin-bottom: 30px;
}

.MillingPriceList-subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  color: #182129;

  margin-bottom: 20px;
}

.MillingPriceList-subtext {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #182129;

  margin-bottom: 50px;
}

.MillingPriceList-table {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
}

.MillingPriceList-table-row {
  display: flex;
  flex-direction: row;
  width: 1200px;
  overflow-x: auto;
  &:first-child {
    height: 110px;
  }

  &.grey {
    background: #DADEE3;
  }
}

.MillingPriceList-table-row-cell {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #182129;

  padding: 20px;
  width: 300px;

  text-align: center;

  &:not(:last-child) {
    border-right: 2px solid rgba(24, 33, 41, 0.3);
  }
}

.MillingPriceList-table-row-cell-item {
  text-align: left;

  &.columns {
    &:not(:last-child) {
      border-bottom: 2px solid rgba(24, 33, 41, 0.3);
    }
    padding-bottom: 10px;

    &:not(:first-child) {
      padding-top: 10px;
    }
  }
}

.MillingPriceList-disclaimer {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #182129;

  margin-top: 50px;
}

@media (max-width: 1000px) {
  .MillingPriceList-table-row-cell {
    width: 300px;
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #182129;
  }
  .MillingPriceList-table-row {
    width:900px;
  }
}

@media (max-width: 768px) {
  .MillingPriceList-container {
    padding: 60px 40px;
  }
  .MillingPriceList-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #182129;
    margin-bottom: 20px;
  }
  .MillingPriceList-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #182129;
    margin-bottom: 20px;
  }
  .MillingPriceList-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #182129;
    margin-bottom: 30px;
  }

  .MillingPriceList-disclaimer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #182129;
    margin-top: 30px;
  }
  .MillingPriceList-table-row-cell {
    width: 250px;
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #182129;
  }
  .MillingPriceList-table-row {
    width:750px;
  }
}

@media (max-width: 560px) {
  .MillingPriceList-container {
    padding: 60px 20px;
  }
  .MillingPriceList-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #182129;
    margin-bottom: 20px;
  }
  .MillingPriceList-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #182129;
    margin-bottom: 20px;
  }
  .MillingPriceList-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #182129;
    margin-bottom: 30px;
  }

  .MillingPriceList-disclaimer {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #182129;
    margin-top: 30px;
  }
  .MillingPriceList-table-row-cell {
    width: 150px;
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #182129;
  }
  .MillingPriceList-table-row {
    width:450px;
  }
}
