.MillingPriceList-container {
  text-align: center;
  padding: 120px 80px;
  max-width: 1600px;
  margin: 0 auto;
}

.MillingPriceList-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #182129;

  margin-bottom: 30px;
}

.MillingPriceList-subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  color: #182129;

  margin-bottom: 20px;
}

.MillingPriceList-subtext {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #182129;

  margin-bottom: 50px;
}

.MillingPriceList-table {
  max-width: 1600px;
  margin: 0 auto;
}

.MillingPriceList-table-row {
  display: flex;
  flex-direction: row;

  &:first-child {
    height: 110px;
  }

  &.grey {
    background: #DADEE3;
  }
}

.MillingPriceList-table-row-cell {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #182129;

  padding: 20px;
  width: 500px;

  text-align: center;

  &:not(:last-child) {
    border-right: 2px solid rgba(24, 33, 41, 0.3);
  }
}

.MillingPriceList-table-row-cell-item {
  text-align: left;

  &.columns {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(24, 33, 41, 0.3);
    &:not(:first-child) {
      padding-top: 10px;
    }
  }
}

.MillingPriceList-disclaimer {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #182129;

  margin-top: 50px;
}