.work-order {
  padding: 50px 0 65px 0;
  background: #142C4F;
}

.work-order-container {
  max-width: 1600px;
  margin: 0 auto;
}

.work-order-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #FFFFFF;

  margin-bottom: 50px;
}

.work-order-items {
  max-width: 1200px;
  margin: 0 auto;
  margin: 0 auto;
  justify-content: center;
}

.work-order-item {
  display:flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 50px;
    &:before {
    background: #DADEE3;
    content: "";
      height: calc(100% - 3px);
      left: 27px;
      position: absolute;
      top: 55px;
      width: 3px;
  }
  }

}

.work-order-circle {
  position: relative;
  padding: 25px;
  border: 3px solid #DADEE3;
  border-radius: 86px;
}

.work-order-number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.work-order-item-text {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

  margin-left: 20px;
}