.main-page {

}

.section-description-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 80px 120px 80px;
}

.section-description-top {
  margin-bottom: 50px;

  & > .text {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136.52%;
    /* or 27px */

    color: #182129;
  }
}

.section-description-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-description-bottom-left {
  & > img {
    max-width: 775px;
    max-height: 445px;
  }
}

.section-description-item-left {
  & > img {
    width: 50px;
    height: 50px;
  }

  margin-right: 20px;
}

.section-description-bottom-right {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.section-description-item {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.section-description-item-right-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  color: #182129;

  margin-bottom: 15px;
}

.section-description-item-right-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 136.52%;
  /* or 27px */

  color: #182129;
}

.section-service {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.section-service-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #182129;
  text-align: center;
  margin-bottom: 50px;
}

.section-service-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.section-service-item {
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 20px;

  &:nth-child(1) {
    background-image: url("../../../public/images/services/lazer.jpg");
    margin-right: 20px;
  }

  &:nth-child(2) {
    background-image: url("../../../public/images/services/steel.jpg");
    margin-right: 20px;
  }

  &:nth-child(3) {
    background-image: url("../../../public/images/services/project.jpg");
  }

  &:nth-child(4) {
    background-image: url("../../../public/images/services/milling.jpg");
    margin-right: 20px;
  }

  &:nth-child(5) {
    background-image: url("../../../public/images/services/powder.jpg");
    margin-right: 20px;
  }

  &:nth-child(6) {
    background-image: url("../../../public/images/services/project2.jpg");
  }
}

.section-service-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  color: #FFFFFF;
}
