.section-preview-container {
  background-image: url("../../../public/images/laser_cutting_img.jpg");
  min-height: 465px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
}


.section-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: start;
  margin: 0 auto;
}

.section-preview-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 136.52%;
  /* or 66px */

  text-transform: uppercase;

  color: #FFFFFF;

  max-width: 960px;
  margin-top: 120px;
  margin-bottom: 30px;
}

.section-preview-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 136.52%;
  /* identical to box height, or 33px */

  color: #FFFFFF;
  margin-bottom: 110px;
}

.section-preview-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #182129;
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 245px;
  height: 60px;
  background: #F7CF46;
}

.section-advantages {

}

.section-advantages-title {
  margin: 120px 0 50px 0;
  display: flex;
  justify-content: space-around;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #182129;
}

.section-advantages-list {
  margin: 0 auto 120px auto;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch

}

.section-advantages-list-item {
  background: #DADEE3;
  border-radius: 20px;

  &:not(:last-child) {
    margin-right: 25px;
  }
}

.section-advantages-list-item-middleware {
  padding: 24px;
  max-width: 380px;
}

.section-advantages-list-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 136.52%;
  /* identical to box height, or 25px */

  text-transform: uppercase;

  color: #142C4F;
  margin: 50px 0 15px 0;
}

.section-advantages-list-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 136.52%;
  /* or 27px */

  color: #182129;
}

.section-advantages-nav {
  max-width: 1600px;
  margin: 0 auto 100px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-advantages-nav-item {
  background: #DADEE3;
  border-radius: 35px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #182129;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 45px;

  &:not(:last-child) {
    margin-right: 25px;
  }

  margin-bottom: 20px;
}


.section-materials {
  padding-top: 50px;
  padding-bottom: 40px;

  background: #182129;
}

.section-materials-container {
  max-width: 1600px;
  margin: 0 auto;

}

.section-materials-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #FFFFFF;
  text-align: center;
  margin: 0 auto 50px auto;
}

.section-materials-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-materials-item {
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 20px;

  &:nth-child(1) {
    background-image: url("../../../public/images/materials/aluminum.jpg");
    margin-right: 20px;
  }

  &:nth-child(2) {
    background-image: url("../../../public/images/materials/stainless_steel.jpg");
    margin-right: 20px;
  }

  &:nth-child(3) {
    background-image: url("../../../public/images/materials/brass.jpg");
  }

  &:nth-child(4) {
    background-image: url("../../../public/images/materials/copper.jpg");
    margin-right: 20px;
  }

  &:nth-child(5) {
    background-image: url("../../../public/images/materials/carbon_steel.jpg");
    margin-right: 20px;
  }

  &:nth-child(6) {
    background-image: url("../../../public/images/materials/galvanized_steel.jpg");
  }
}

.section-materials-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.section-wishes {

}

.section-wishes-container {
  max-width: 1600px;
  margin: 0 auto;
}

.section-wishes-title {
  text-align: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #182129;
}

.section-wishes-list {
  margin: 0 auto 120px auto;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch

}

.section-wishes-list-item {
  background: #DADEE3;
  border-radius: 20px;

  &:not(:last-child) {
    margin-right: 25px;
  }
}

.section-wishes-list-item-middleware {
  padding: 24px;
  max-width: 380px;
}