footer {
  padding: 40px 80px;
  background: #142C4F;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-left {

}

.header-left-logo {
  width: 180px;
  height: 60px;

}

.footer-right {
  display: flex;
  flex-direction: row;

}

.footer-right-address {
  &:first-child {
    margin-right: 20px;
  }
}

.footer-right-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  margin-bottom: 30px;
  display: flex;
}

.footer-right-text1 {
  width: 400px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}

.footer-right-contacts {

}

.footer-right-data {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-right-text2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  &:first-child {
    margin-bottom: 15px;
  }

  color: #FFFFFF;
}



